# --- App ---
PORT=3000
APP_DOMAIN=http://localhost:3000   # фронт для reset-password

# --- MongoDB ---
MONGODB_USER=yourUsername
MONGODB_PASSWORD=yourPassword
MONGODB_URL=cluster0.xxxxxx.mongodb.net
MONGODB_DB=yourDatabaseName

# --- JWT ---
JWT_SECRET=your_jwt_secret
ACCESS_TOKEN_SECRET=your_access_secret
REFRESH_TOKEN_SECRET=your_refresh_secret

# --- Brevo SMTP ---
SMTP_HOST=smtp-host
SMTP_PORT=587
SMTP_USER=user@smtp-provider.com
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=email@example.com

# --- Cloudinary ---
CLOUDINARY_CLOUD_NAME=yourCloudName
CLOUDINARY_API_KEY=yourCloudApiKey
CLOUDINARY_API_SECRET=yourCloudApiSecret
ENABLE_CLOUDINARY=true
