# --- App ---
PORT=3000
APP_DOMAIN=http://localhost:3000

# --- MongoDB (збирається з частин у server.js) ---
MONGODB_USER=your_user
MONGODB_PASSWORD=your_password
MONGODB_URL=your-cluster.mongodb.net
MONGODB_DB=your_database

# --- JWT ---
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

# --- Brevo SMTP ---
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_login
SMTP_PASSWORD=your_brevo_password
SMTP_FROM=your_registered_email@brevo.com

# --- Cloudinary ---
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
